body {
	background-color: #2070ab;
}

.center {
	width: 800px;
	margin: 0 auto;
}

.app {
	text-align: center;
}

.todo-inp {
	border: none;
	font-size: 18px;
	width: 300px;
	height: 40px;
	border-radius: 8px;
	margin-top: 15px;
	padding: 0 8px;
	color: #163549;
}

.todo-list>li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 600px;
	margin: 0 auto;
}

.title-wrap {
	background-color: #50b9d7;
	padding: 0;
	margin: 0;
}

.title {
	color: #fff;
	font-size: 20px;
	line-height: 2em;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.title .tab {
	min-width: 400px;
	display: flex;
}

.tab li {
	padding: 0 40px;
}
.tab li.active{
	background-color:#2070ab;
}
.tab li:hover {
	background: #2070ab;
	cursor: pointer;
}

.is-check {
	appearance: none;
	outline: none;
}

.is-check:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="40" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.is-check:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="40" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.todo-list li {
	padding: 0 10px;
	border-radius: 10px;
	margin-top: 15px;
}

.todo-list li:nth-child(odd) {
	background-color: #415d87;
}

.todo-list li:nth-child(even) {
	background-color: #263858;
}

.app .todo-list li:hover {
	background-color: #576e5d;
}

.todo-list li span {
	color: #fff;
}

.todo-list li span:last-child {
	cursor: pointer;
}

.todo-list .completed {
	color: #aaa;
	text-decoration: line-through;
}


@-webkit-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translateX(-20px)
	}
}

@-moz-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-moz-transform: translateX(0)
	}
	100% {
		opacity: 0;
		-moz-transform: translateX(-20px)
	}
}